/* Header: Blue + Black bars */

.blackbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 3.0rem;
  width: 100%;
  background-color: #000;
  animation: 1s ease-out 0s 1 theRightSlide;
  z-index: 1;
}

.leftBlackBar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 3rem;
  z-index: 2;
}

.bluebar {
  position: fixed;
  top: 3.0rem;
  left: 0;
  height: 1.5rem;
  width: 100%;
  background-color: #68aadf;
  box-shadow: 0 5px 8px 0 #2c3d45;
  animation: 1s ease-out 0s 1 theLeftSlide;
  z-index: 1;
}

.menu-out-arrow {
  visibility: hidden;
  color: #FFF;
}

/* Top navigation menu on black header bar */

.linkbar {
  display: inline-block;
  position: fixed;
  list-style: none;
  left: 0.5%;
  width: 100%;
  min-width: 35rem;
  text-transform: uppercase;
  font-size: 2rem;
  font-family: 'Ubuntu', sans-serif;
  color: rgb(205, 205, 215);
  outline: none !important;
  animation: 3s ease-in 0s 1 fadeIn;
  z-index: 2;

  a {
    text-decoration: none;
    color: rgb(205, 205, 215);
  }
}

.linkbar li {
  display: inline-block;
  width: 15rem;
  padding: {
    top: 0.25rem;
    bottom: 0.5rem;
  }
  margin-right: 2.0rem;
  outline: none !important;
  cursor: pointer;

  &:hover {
    background-color: rgb(205, 205, 215);
    color: #000;
  }
}

.material-icons.arrow {
  margin: -0.5rem 0;
  font-size: 1.5rem;
}

/* Nested list for top drop-down navigation */

.linkbar li ul {
  position: fixed;
  top: 3rem;
  display: none;
  min-width: 0;
  width: 15rem;
  margin: 0;
  text-align: left;
  overflow: hidden;
  border: {
    left: solid 2px black;
    right: solid 2px black;
    bottom: solid 2px black;
    radius: 0 0 5px 5px;
    color: rgb(205, 205, 215);
  }
  z-index: 2;

  &.is-expanded {
    display: block;
    padding-bottom: 0;
  }
}

.linkbar li ul li {
  display: block;
  width: 15rem;
  margin: 0;
  padding-left: 1rem;
  background-color: #000;
  box-shadow: none;
  text-transform: none;
}
