/* resets */

* {
  position: relative;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  position: relative;
  text-align: center;
  width: 100%;
  height: 100%;
  font-size: 10px;
  overflow-y: auto;
  background: linear-gradient(165deg, #d0e1ed, #056379, #055379, #033249, #011118);
}

/* general element stylings */

h1 {
  font-size: 5.0rem;
  line-height: 1.1;
}

p {
  font-size: 2.0rem;
}

img {
  cursor: pointer;
}

img:hover {
  opacity: 0.7;
}

/* links move down on click */

a:active {
  top: 1px;
}
