/* media queries for common selectors */

@media only screen and (max-width: 799px) {
  h1 {
    font-size: 4.0rem;
  }

  p {
    font-size: 1.8rem;
  }
}

/* top navigation media queries for smaller screens */

@media only screen and (max-width: 799px) {
  .linkbar ul {
    font-size: 2.0rem;
  }
}

@media only screen and (max-width: 549px) {
    .linkbar ul {
      font-size: 1.5rem;
    }
    .linkbar a {
      margin-top: 2%;
    }
}
