/* CONTENT BOX */

@media only screen and (max-width: 925px) {
  .linksdisplaycontent {
    font-size: 3.2rem;
  }

  .welcome, .textOverlay{
    h2, b {
      font-size: 5rem;
    }

    p {
      font-size: 1.8rem;
    }
  }
}

@media only screen and (max-width: 820px) {
  .content {
    flex-flow: column;
  }

  .linkscontent {
    flex: 0;
    padding: {
      bottom: 0;
      right: 0;
    }
    ul {
      display: none;
    }

    .linksdisplaycontent {
      height: 100%;
      font-size: 7rem;
    }
  }

  .welcome, .textOverlay{
    h2, b {
      font-size: 4rem;
    }

    p {
      font-size: 1.6rem;
    }
  }
}

@media only screen and (max-width: 735px) {
  .welcome, .textOverlay{
    h2, b {
      font-size: 3rem;
    }

    p {
      font-size: 1.4rem;
    }
  }
}

@media only screen and (max-width: 660px) {
  .welcome {
    min-width: 26rem;

    h2, .textOverlay b {
      font-size: 2.5rem;
    }

    p {
      font-size: 1.2rem;
      line-height: 1.3rem;
    }
  }
}

@media only screen and (max-width: 570px) {
  .infocontent {

    p {
      font-size: 1.5rem;
      line-height: 2rem;
    }

    ul {
      font-size: 1.3rem;
      line-height: 1rem;
    }
  }

  .linkscontent {

    .linksdisplaycontent {
      font-size: 5.5rem;
    }
  }

  .welcome {
    min-width: 24rem;

    h2, .textOverlay b {
      font-size: 2rem;
    }

    p {
      font-size: 1rem;
    }
  }
}

@media only screen and (max-width: 440px) {
  .infocontent {

    p {
      font-size: 1rem;
    }

    ul {
      font-size: 0.8rem;
    }
  }

  .linkscontent {

    .linksdisplaycontent {
      font-size: 4rem;
    }
  }
}
