/* CONTENT BOX */

@media only screen and (max-width: 925px) {
  .linksdisplaycontent {
    font-size: 3.2rem;
  }

  .welcome{
    h2 {
      font-size: 5rem;
    }

    p {
      font-size: 1.8rem;
    }
  }

  .flipImg {
    height: 30rem;
    width: 45rem;

    .front {
      height: 30rem;
      width: 45rem;
    }

    .textOverlay {

      b {
        top: 4.5rem;
        font-size: 3.6rem;
      }
    }
  }
}

@media only screen and (max-width: 820px) {
  .content {
    flex-flow: column;
  }

  .linkscontent {
    flex: 0;
    padding: {
      bottom: 0;
      right: 0;
    }
    ul {
      display: none;
    }

    .linksdisplaycontent {
      height: 100%;
      font-size: 7rem;
    }
  }

  .welcome{
    h2 {
      font-size: 4rem;
    }

    p {
      font-size: 1.6rem;
    }
  }

  .flipImg {
    height: 30rem;
    width: 40rem;

    .front {
      height: 30rem;
      width: 40rem;
    }

    .textOverlay {

      b {
        top: 5.2rem;
        font-size: 3rem;
      }
    }
  }
}

@media only screen and (max-width: 735px) {
  .welcome{
    h2 {
      font-size: 3rem;
    }

    p {
      font-size: 1.4rem;
    }
  }

  .flipImg {
    height: 30rem;
    width: 35rem;

    .front {
      height: 30rem;
      width: 35rem;
    }

    .textOverlay {

      b {
        top: 5.4rem;
        font-size: 2.8rem;
      }
    }
  }
}

@media only screen and (max-width: 660px) {
  .welcome{
    min-width: 26rem;

    h2 {
      font-size: 2.5rem;
    }

    p {
      font-size: 1.2rem;
      line-height: 1.3rem;
    }
  }

  .flipImg {
    height: 30rem;
    width: 30rem;
    margin: 4% auto 0 auto;

    .front {
      height: 30rem;
      width: 30rem;
    }

    .textOverlay {

      b {
        top: 5.5rem;
      }
    }
  }
}

@media only screen and (max-width: 570px) {
  .infocontent {

    p {
      font-size: 1.5rem;
      line-height: 2rem;
    }

    ul {
      font-size: 1.3rem;
      line-height: 1rem;
    }
  }

  .linkscontent {

    .linksdisplaycontent {
      font-size: 5.5rem;
    }
  }

  .welcome{
    min-width: 24rem;

    h2 {
      font-size: 2rem;
    }

    p {
      font-size: 1rem;
    }
  }

  .flipImg {
    height: 20rem;
    width: 20rem;

    .front {
      height: 20rem;
      width: 20rem;
    }

    .textOverlay {

      b {
        top: 4rem;
        font-size: 1.5rem;
      }
    }
  }
}

@media only screen and (max-width: 440px) {
  .infocontent {

    p {
      font-size: 1rem;
    }

    ul {
      font-size: 0.8rem;
    }
  }

  .linkscontent {

    .linksdisplaycontent {
      font-size: 4rem;
    }
  }
}
