/* Main content display box */

.content {
  top: 9.5rem;
  display: flex;
  flex-wrap: wrap;
  max-width: 60%;
  min-width: 60rem;
  min-height: 40rem;
  height: 60rem;
  margin: 0 auto;
  border: 2px solid rgb(215, 215, 225);
  border-radius: 15px;
  background-color: rgb(0, 0, 0);
  box-shadow: 0 0 10px 5px #000;
  overflow-y: hidden;
  animation: 4s ease-out 0s 1 dropDownBounce;
}

.content h2 {
  margin: 0 auto -4rem auto;
}

.content p {
  margin: 0 auto 2% auto;
  min-width: 20rem;
  max-width: 60%;
  text-align: justify;
  line-height: 2.5rem;
  font-family: 'Ubuntu', sans-serif;
  color: rgb(205, 205, 215);
}

.content img {
  display: block;
  margin: 0 auto 2% auto;
  height: auto;
  width: 60%;
  min-width: 20rem;
  border: 2px solid rgb(205, 205, 215);
  border-radius: 10px;
}

.content a {
  display: block;
  text-decoration: none;
  color: #FFF;
}

/* Left side of content box, for links */

.linksdisplaycontent {
  min-width: 200px;
  min-height: 100px;
  padding-top: 5rem;
  padding-bottom: 5rem;
  border-radius: 15px;
  text-align: center;
  font-size: 5rem;
  font-family: 'Libre Barcode 39 Text', cursive;
  color: rgb(0, 153, 0);
  box-shadow: inset 0 0 10px #000;
  background-image: url('../assets/Pictures/terminal.jpg');
  background-size: cover;
  -webkit-animation: terminal 20s linear infinite alternate;
  -moz-animation: terminal 20s linear infinite alternate;
  -o-animation: terminal 20s linear infinite alternate;
  animation: terminal 20s linear infinite alternate;
}

.linkscontent {
  flex: 1;
  margin: 1rem 1%;
  min-width: 200px;
}

.linkscontent li {
  list-style: none;
  margin-top: 4%;
  line-height: 2;
  font-size: 2.0rem;
  color: rgb(205, 205, 215);
  background-color: #000;
  border: 2px solid rgb(205, 205, 215);
  border-radius: 15px;
}

.linkscontent li:hover {
  background-color: rgb(205, 205, 215);
  border-radius: 0;
  color: #000;
}

/* right side of content box, for information */

.infocontent {
  flex: 2;
  height: 96%;
  margin: 1rem 1% 2rem 0;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-radius: 15px;
  overflow-y: auto;
  background-color: rgb(200, 200, 200);
  box-shadow: inset 0 0 10px #000;
}

.infocontent p {
  margin: 0 auto 1rem auto;
  color: #000;
}

.infocontent a {
  color: rgb(130, 79, 140);
}

.infocontent img {
  border: 2px solid black;
  border-radius: 10px;
}

.infocontent ul {
  display: inline-block;
  width: 60%;
  margin-top: 0;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.8rem;
  line-height: 2rem;
  color: #000;
}

.infocontent li {
  margin-top: 1rem;
  text-align: justify;
}

.infocontent li:hover {
  color: #111;
}

/// welcome message on home page

.welcome {
  margin: 0 auto;
  min-width: 30rem;
  font-family: 'Baloo Tammudu', cursive;
  font-size: 4rem;
  color: rgb(205, 205, 215);
}

/* to resize the image on the taxonomy page */

#taxonomytree {
  width: auto;
  height: 50rem;
}

/* to resize image on the cetacea page */

#cetaceanorder {
  width: 35rem;
  height: auto;
  background-color: rgb(215, 215, 225);
}

/* credit text for images */

.imagecredit {
  font-size: 1.5rem;
  font-style: italic;
  line-height: 1rem;
}

.imagecredit a {
  margin-bottom: 1rem;
}
