<header>
  <div class="blackbar"></div>
  <div class="bluebar"></div>
  <div class="linkbar">
    <ul>
      <a href="#" class="towelcome"><li>Home</li></a>
      <li class="facts" tabindex="0">Facts<i class="material-icons arrow">keyboard_arrow_up</i>
        <ul class="factsdropdown">
          <a href="#" class="totaxonomy"><li>Taxonomy</li></a>
          <a href="#" class="tocetacea"><li>Cetacea</li></a>
          <a href="#" class="tomysticeti"><li>Mysticeti</li></a>
          <li id='dropdown_roundend'>Easteregg c:</li>
        </ul>
      </li>
      <a href="#"><li>Links</li></a>
      <a href="#"><li>About</li></a>
    </ul>
  </div>
</header>
