<header>
  <div class="blackbar"></div>
  <div class="leftBlackBar">
    <ul class="linkbar">
      <a href="#" class="to_welcome"><li>Home</li></a>
      <li class="js-accordion-trigger" tabindex="0">Info<i class="material-icons arrow">keyboard_arrow_up</i>
        <ul class="submenu" tabindex="1">
          <a href="#" class="to_taxonomy shut-menu"><li>Taxonomy</li></a>
          <a href="#" class="to_cetacea shut-menu"><li>Cetacea</li></a>
          <a href="#" class="to_mysticeti shut-menu"><li>Mysticeti</li></a>
          <a href="#" class="to_odontoceti shut-menu"><li>Odontoceti</li></a>
        </ul>
      </li>
      <a href="#"><li>Links</li></a>
      <a href="#"><li>About</li></a>
    </ul>
  </div>
  <div class="bluebar"></div>
  <i class="material-icons menu-out-arrow">keyboard_arrow_right</i>
  <div class="close-side-menu"></div>
</header>
