---
layout: default
---

<div class="welcome">

  <h2>Welcome!</h2>

  <p>This site is dedicated to whales. You can learn some interesting things about them by checking out the info pages. You can find the pages in the top navigation bar, or by clicking on the image below. <i>Whale</i>, what are you waiting for?</p>

  <div class="flipImg">
    <div class="front"></div>
    <div class="back">
      <span>Using the navigation below you can start on the taxonomy page and make your way through the site, or pick a page that sounds interesting to you and read up!</span>
    </div>
  </div>

  <div class="textOverlay"><b>Click the whale!</b></div>

</div>
