/* animation for content-module on load */

@keyframes dropDownBounce {
  0% {
    transform: translateY(-200%);
  }
  80% {
    transform: translateY(-2%)
  }
  90% {
    transform: translateY(-3%)
  }
  100% {
    transform: translateY(0%);
  }
}

/* Animation rules for linksdisplaycontent */

@-webkit-keyframes terminal {
    from { background-position: 0 0; }
	  to { background-position: 0 100%; }
}
@-moz-keyframes terminal {
    from { background-position: 0 0; }
	  to { background-position: 0 100%; }
}
@-o-keyframes terminal {
    from { background-position: 0 0; }
	  to { background-position: 0 100%; }
}
@keyframes terminal {
    from { background-position: 0 0; }
	  to { background-position: 0 100%; }
}
